@model IEnumerable<Instructor>
<!-- Our Agent Section-->
<section id="aa-agents">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-agents-area">
                    <div class="aa-title">
                        <h2>Our Trainers</h2>
                        <span></span>
                        <p>Welcome to the WebSite :)</p>
                    </div>
                    <!-- agents content -->
                    <div class="aa-agents-content">
                        <ul class="aa-agents-slider">
                            @foreach (var item in Model)
                            {
                               <li>
                                <div class="aa-single-agents">
                                    <div class="aa-agents-img">
                                        <img src="~/img/agents/agent-1.png" alt="agent member image">
                                    </div>
                                    <div class="aa-agetns-info">
                                        <h4><a href="#">@item.InsName</a></h4>
                                        <span>@item.Position</span>
                                        <div class="aa-agent-social">
                                                <a href="@item.FbUrl"><i class="fa fa-brands fa-facebook"></i></a>
                                                <a href="@item.Email"><i class="fa fa-brands fa-envelope"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            }
                            
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Our Agent Section-->
